.menu{
    width: 250px;
    margin-left: 20px;
    height: 100vh;
position: fixed;
top: 0;
/* right:0px; */
/* margin-top: 100px; */
z-index: 2;
background-color: #15023a;
padding-top: 40px;
right: -250px;
display: flex;
/* align-items: center; */
/* justify-content: center; */
transition: all 0.5s ease;
/* position: relative; */
}

li{
    margin-top: 20px;
    list-style: none;
    padding: 30px 0 0 30px;
    transition: 0.4s ease all;
}
.menu-list li a{
    /* color: black; */
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1.2px;
    font-weight: 300;
    margin-top: 0;
}
.menu-list li a:hover{
    font-weight: 600px;
    

}
li:hover{
    transform: translate(3px);
}
.active{
    right: 0;
    /* padding-top: 70px; */
}
.cross-icon{
    position: fixed;
}
